[data-testid="stAppViewContainer"]{
    background-image:url("https://images.pexels.com/photos/1654255/pexels-photo-1654255.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size:cover;
}

[data-testid="stHeader"]{
    background-color:rgba(0, 0, 0, 0);
}

[data-testid="stSidebar"]{
    background-image:url("https://images.pexels.com/photos/1599969/pexels-photo-1599969.jpeg?auto=compress&cs=tinysrgb&w=600")
}

[class="st-emotion-cache-17lntkn eczjsme5"]{
    color: rgba(1,1,1,1)
}

[class="st-emotion-cache-10trblm e1nzilvr1"]{
    text-align: center;
    /* color: white; */
}

[class="st-emotion-cache-eqffof e1nzilvr5"]{
    text-align: left;
}

[class="st-emotion-cache-1kyxreq e115fcil2"]{
    background-color: white;
    border-radius: 10px;
}